<div class="container-fluid">
  <div class="row">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <div class="card-pf">
          <%= alert :header => _("Oops, we're sorry but something went wrong"), :class => 'alert-danger',
            :actions => link_to(_('Back'), main_app.root_path, :class => 'btn btn-default'),
            :text => h(exception.message),
            :close => false %>

          <p id="sentry">
            <%= _('This has been recorded in Sentry. If you open a support ticket within your organization, please always include the Sentry event id %s.') % raven_id %>
          </p>

          <div class="pull-right">
            <%= documentation_button('7.3GettingHelp') %>
          </div>

          <p id="message">
            <%= _('If you feel this is an error with Foreman itself, please open a new issue with') %>
            <%= link_to _('Foreman ticketing system'), 'http://theforeman.org/projects/foreman/issues', :rel => 'external' %>,
            <%= _('You would probably need to attach the') %>
            <%= link_to_function(_('Full trace'), "$('#backtrace').toggle()") %>
            <%= _(", relevant log entries, and it is highly recommended to also attach the foreman-debug output.") %>
          </p>

          <div id="backtrace" class="alert alert-block alert-danger base in fade hide">
            <em><%= exception.class %></em><br>
            <strong><%= exception.message %></strong><br>
            <%= exception.backtrace.join("<br>").html_safe %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
